body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #fff;
  color: #222;
}
* {
  box-sizing: border-box;
}

a {
  color: green;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
